<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta content="">
    <meta charset="utf-8"> 
    <link href="./dist/bootstrap.min.css" rel="stylesheet">
    <style>
        .ref + .ref:before {
          content: ", ";
        }
        .comp + .comp:before {
            content: " + ";
        }
    </style>
    <script type="importmap">
      {
        "imports": {
          "vue": "./dist/vue.esm-browser.js",
          "glpk": "./dist/glpk.js"
        }
      }
    </script>
    <script src="./dist/es-module-shims.js"></script>
    <script type="text/javascript" async src="./dist/tex-mml-chtml.js"></script>

    <style>
        .chart .xAxis path,line {
        stroke: #dddddd;
        }

        .chart .yAxis path,line {
        stroke: #dddddd;
        }

        .chart circle {
        fill: #aaaaaa;
        }

        .chart path.regressionLine {
        stroke: #43A047;
        fill: none;
        stroke-width: 1.2;
        stroke-dasharray: 3,5;
        }

        .chart circle {
            cursor: pointer;
        }

        div.tooltip {
         position: absolute;
         text-align: left;
         padding: .2rem;
         background: #313639;
         color: #f9f9f9;
         border: 0px;
         border-radius: 8px;
         pointer-events: none;
         font-size: .7rem;
    }

    </style>
</head>

<body>
<script src="./dist/jquery-3.6.0.min.js"></script>
<script src="./dist/bootstrap.bundle.min.js"></script>
<script src="./dist/simple-statistics.min.js"></script>
<script src="./dist/d3.min.js"></script>
<main id="app" role="main" class="my-5">
<div class="container">
    <h1>Global Optimization of Lever Parameters</h1>
    <h2 id="ligand-data">Available Ligand Data <em><a href="#optimization">(&rarr; LP Optimization)</a></em></h2>
    
    <table class="table table-striped table-hover">
      <caption>Please contact the authors to have your data included, or make a pull request right here on GitHub.</caption>
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Ligand</th>
          <th scope="col">Components</th>
          <th scope="col">measured E1/2</th>
          <th v-if="res" scope="col">sum UEL</th>
          <th scope="col">Refs</th>
          <th scope="col">Ignore</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(l, i) in jsonl">
            <th scope="row" style="cursor: pointer" @click="copyInput(l)">{{i+1}}</th>
            <td>{{l.lig}} <span v-if="l.local" class="badge bg-secondary">local</span></td>
            <td><span class="comp" v-for="(n, c) in l.eqn">{{n}} * {{c}}</span></td>
            <td>{{l.e12}}</td>
            <td v-if="res">{{l.sum || ''}}</td>
            <td>
                <span class="ref" v-if="Array.isArray(l.doi)" v-for="(d,j) in l.doi"><a v-bind:href="'https://doi.org/'+d">{{j+1}}</a> </span>
                <span v-else-if="l.doi"><a v-bind:href="'https://doi.org/'+l.doi">{{1}}</a> </span>
            </td>
            <td>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" v-model="l.ignore" alue="" id="flexCheckDefault">
            </div>
            </td>
        </tr>
      </tbody>
    </table>

    <div class="card" ref="add-ligand-data">
      <div class="card-body">
        <p>You can temporarily add new ligands to the table, to play around with the LP. At this point, you need to write those in JSON; see the two templates (with single and range UEL) below.</p>
<pre>
{"lig": "name", "doi": "(optional)", "eqn": {"Cp": 3, "SPh": 1}, "e12": -1.90}
{"lig": "name", "eqn": {"Cp": 3, "BH_4": 1}, "e12": [-2.0, -1.90]}
</pre>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Enter ligand data in JSON</label>
            <input type="text" v-model="input" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
        </div>
        <div class="mb-3">
            <button @click="checkInput" class="btn btn-primary">Verify &amp; Add</button>
        </div>
        <div v-if="input_error" class="alert alert-warning">{{input_error}}</div>
      </div>
    </div>
</div>

<div class="container">
    <h2 id="optimization">Linear Program</h2>
    
    <div class="card">
        <div class="card-body">
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-primary" @click="solve">Run optimization</button>
                <button v-if="res" type="button" class="btn" :class="{'btn-success': res.result.status === 5, 'btn-warning': res.result.status !== 5}">
                    {{solver_status[res.result.status]}} <span class="badge text-bg-secondary">{{res.result.status}}</span>
                </button>
            </div>
        </div>
    </div>

    <div v-if="error" class="alert alert-danger" role="alert">
        {{error}}
    </div>

    <ul v-if="res || cplex" class="nav nav-pills" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
        <button class="nav-link active" id="variables-tab" data-bs-toggle="tab" data-bs-target="#variables-tab-pane" type="button" role="tab" aria-controls="variables-tab-pane" aria-selected="true">Variables</button>
        </li>
        <li class="nav-item" role="presentation">
        <button class="nav-link" id="result-tab" data-bs-toggle="tab" data-bs-target="#cplex-tab-pane" type="button" role="tab" aria-controls="cplex-tab-pane" aria-selected="false">CPLEX</button>
        </li>
        <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#result-tab-pane" type="button" role="tab" aria-controls="result-tab-pane" aria-selected="false">Result</button>
        </li>
        <li class="nav-item" role="presentation">
        <button class="nav-link" id="correlation-tab" data-bs-toggle="tab" data-bs-target="#correlation-tab-pane" type="button" role="tab" aria-controls="correlation-tab-pane" aria-selected="false">Correlation Analysis</button>
        </li>
    </ul>
    <div v-show="res || cplex" class="tab-content" id="myTabContent">
      <div v-if="res" class="tab-pane fade show active" id="variables-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <div class="card card-body">
        <table class="table table-striped table-hover">
          <thead class="table-dark">
            <tr>
              <th scope="col">Variable</th>
              <th scope="col">Component</th>
              <th scope="col">Value</th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="res" v-for="u in uels">
                <th scope="row">{{u.var}}</th>
                <td>{{u.name}}</td>
                <td>{{u.val}}</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
      <div v-if="cplex" class="tab-pane fade" id="cplex-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <div class="card card-body">
          <pre>{{cplex}}</pre>
        </div>
      </div>
      <div v-if="res" class="tab-pane fade" id="result-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
          <div class="card card-body">
            <pre>{{res}}</pre>
          </div>
      </div>
      <div v-show="regr" class="tab-pane fade" id="correlation-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
          <div id="div-plot" class="card card-body">
            <div class="alert alert-info">Note that for those ligands with a range of E1/2, the bound closer to the sum is used. Hover a point on the plot to see the ligand data.</div>
            <p v-if="regr">R^2 = {{rsquared}}</p>
            <p v-if="regr"><em>Pearson r</em> = {{corr}}</p>
            <svg class="chart" id="plot"></svg>        
          </div>
      </div>
    </div>
</div>
</main>
<div id="tooltip" class="tooltip" style="opacity: 0;"></div>

    
<script type="module">
import { createApp } from 'vue';
import GLPK from 'glpk';

// vue app
const app = createApp({
    created() {
        this.load();
    },
    data() {
      return {
        jsonl: [],
        uels: [],
        res: null,
        cplex: null,
        error: null,
        regr: null,
        corr: null,
        input: '{}',
        input_error: null,
        solver_status: {
            1: "solution is undefined",
            2: "solution is feasible",
            3: "solution is infeasible",
            4: "no feasible solution exists ",
            5: "solution is optimal",
            6: "solution is unbounded"
        }
      }
    },
    methods: {
        load() {
            // retrieve current ligands database
            fetch('./data/uel-data.jsonl')
                .then(resp => resp.text())
                .then(text => {
                    this.jsonl = text.split(/\n/)
                                        .map(JSON.parse)
                                        .filter(o => o.hasOwnProperty('lig'))
                                        .map(o => {
                                            // make sure all have a ignore property
                                            o.ignore = (o.hasOwnProperty('ignore') && o.ignore)
                                                ? o.ignore = true
                                                : o.ignore = false;
                                            return o;
                                        });
                })
                .catch(err => console.log(err));

        },
        clear() {
            this.uels = [];    // computed UEL values
            this.res = null;   // solver result
            this.cplex = null; // optimization problem (cplex format)
            this.error = null;
            this.regr = null;
            this.corr = null;
        },
        copyInput(e) {
            var obj = {}
            obj = Object.assign(obj, e);

            delete obj.local;
            delete obj.doi;
            delete obj.ignore;
            delete obj.sum;

            if (obj.hasOwnProperty('lig'))
                obj.lig += " copy";
            else
                obj.lig = "unnamed ligand";

            this.input = JSON.stringify(obj);
            this.goto('add-ligand-data');
        },
        goto(refName) {
            var element = this.$refs[refName];
            var top = element.offsetTop;
            window.scrollTo(0, top);
        },
        checkInput(e) {
            try {
                const json = JSON.parse(this.input);
                
                if (!(typeof json === 'object' && json !== null))
                    throw new Error('Not an object');
                else if (!json.hasOwnProperty('lig'))
                    throw new Error('Missing property "lig"');
                else if (!json.hasOwnProperty('e12'))
                    throw new Error('Missing property "e12"');
                else if (!json.hasOwnProperty('eqn'))
                    throw new Error('Missing property "eqn"');

                // check/fix ignore prop
                if (!json.hasOwnProperty('ignore'))
                    json.ignore = false;
                else if (typeof json.ignore !== 'boolean')
                    json.ignore = true;

                // check if at least one variable
                if (Object.keys(json.eqn).length < 1)
                    throw new Error('Specify at least one variable');

                for (const [k, v] of Object.entries(json.eqn)) {
                    if (typeof v !== 'number')
                        throw new Error(`Value for ${k} must be number`);
                }

                if (typeof json.e12 === 'number') {
                    // fine.
                } else if (Array.isArray(json.e12)) {
                    if (json.e12.length != 2)
                        throw new Error('UEL range must be two numbers');
                    if (!(typeof json.e12[0] === 'number' && typeof json.e12[1] === 'number'))
                        throw new Error('E1/2 range must be two numbers');
                } else {
                    throw new Error('e12 must be either number or array of two numbers (range)');
                }

                // mark as local
                json.local = true;

                // looking good!
                this.input_error = null;
                this.jsonl.push(json);

                return true;
            } catch (ex) {
                this.input_error = ex;
                return false;
            }
        },
        solve() {
            // reset variables and status
            this.clear();

            // only use active ligand data
            var lds = this.jsonl.filter(o => o.ignore == false);

            // single measurement: 
            // {"lig": "<name>", "eqn": {"<comp>": 1, "<comp>": 3, "uel": -3.05}}
            // multiple measurements:
            // {"lig": "...", "eqn": {..., "uel": [-2.52, -2.41]}}

            // build alias table for constraints (ligands) and variables (components)
            const c2i = new Map();
            const i2c = new Map();
            const v2i = new Map();
            const i2v = new Map();

            // set error variable as first/0
            v2i.set('err', 0);
            i2v.set(0, 'err');

            var cc = 1;
            var vc = 1;
            for (const ld of lds) {
                if (c2i.has(ld.lig))
                    console.warn(`Duplicated constraint/ligand ${ld.lig}`);

                // add constraint (ligand)
                c2i.set(ld.lig, cc);
                i2c.set(cc, ld.lig);
                cc = cc + 1;

                // add variables (components), if not present
                for (const k of Object.keys(ld.eqn)) {
                    if (v2i.has(k)) continue;
                    v2i.set(k, vc);
                    i2v.set(vc, k);
                    vc = vc + 1;
                }
            }


            GLPK().then(glpk => {
                // build the constraints
                const subjectTo = lds.flatMap((o, i) => {
                    let constr = Object.entries(o.eqn)
                                          .map(([k, v]) => { return {name: `var_${v2i.get(k)}`, coef: v}; });
                    let e12 = o.e12;

                    return [{
                        name: `constr_${i}_${c2i.get(o.lig)}_lo`,
                        vars: [constr, {name: 'err', coef: 1.0}].flat(),
                        bnds: {type: glpk.GLP_LO, ub: 0.0, lb: Array.isArray(e12) ? Math.min(...e12) : e12}
                    }, {
                        name: `constr_${i}_${c2i.get(o.lig)}_up`,
                        vars: [constr, {name: 'err', coef: -1.0}].flat(),
                        bnds: { type: glpk.GLP_UP, ub: Array.isArray(e12) ? Math.max(...e12) : e12, lb: 0.0}
                    }];
                });

                // define LP
                const lp = {
                    name: 'LP',
                    objective: {
                        direction: glpk.GLP_MIN,
                        name: 'obj',
                        vars: [{name: 'err', coef: 1.0}]
                    },
                    subjectTo: subjectTo,
                    bounds: Array.from(i2v, ([k, v]) => { 
                        let a = (k == 0
                            ? 'err'
                            : `var_${k}`);
                        return {name: a, type: glpk.GLP_FR };
                    })
                };

                // configure solver
                const opt = {
                    msglev: glpk.GLP_MSG_ALL,
                    presol: true,
                    /* no need for callbacks at this point...
                    cb: {
                        call: res => print(res),
                        each: 1
                    }
                    */
                };

                // run the optimization
                glpk.solve(lp, opt)
                      .then(res => {
                        this.res = res;
                        this.uels = Array.from(i2v, ([k, v]) => {
                          let a = (k == 0
                            ? 'err'
                            : `var_${k}`);
                          return {var: a, name: v, i: k, val: res.result.vars[a]};
                        });

                        // write original cplex definition
                        glpk.write(lp).then(res => {
                          this.cplex = res;
                        });

                        // compute the sum_uel values for any non-ignored
                        this.jsonl.forEach(o => {
                                if (o.ignore) {
                                    delete o.sum;
                                    return;
                                }
                                o.sum = 0.0;
                                Object.entries(o.eqn)
                                        .forEach(([k, v]) => { 
                                            let a = `var_${v2i.get(k)}`;
                                            o.sum += v * res.result.vars[a];
                                });
                                o.sum = o.sum.toFixed(3);
                        });

                        // compute regression and r^2 for E1/2 and sum_uel
                        let data = this.jsonl
                            .filter(o => !o.ignore)
                            .map(o => {
                                // if there's multiple choices, use the closer one
                                let y = o.e12;
                                if (Array.isArray(o.e12)) {
                                    if (Math.abs(o.e12[0] - o.sum) < Math.abs(o.e12[1] - o.sum))
                                        y = o.e12[0];
                                    else
                                        y = o.e12[1];
                                }

                                return {
                                    x: +o.sum, 
                                    y: y, 
                                    lig: o.lig,
                                    e12: o.e12,
                                    sum: o.sum,
                                    err: Math.abs(o.sum - y)
                                };
                            });

                        // compute correlation (pearson)
                        this.corr = ss.sampleCorrelation(data.map(d => d.x), data.map(d => d.y));

                        // compute linear regression, rsquare
                        this.regr = ss.linearRegression(data.map(d => [d.x, d.y]))
                        this.regrln = ss.linearRegressionLine(this.regr);
                        this.rsquared = ss.rSquared(data.map(d => [d.x, d.y]), this.regrln);

                        // plot...
                        const width = 800;
                        const height = 800;
                        const margin = ({ top: 20, right: 20, bottom: 20, left: 50 });
                        const xScale = d3.scaleLinear()
                           .domain([-3.0, -1.2])
                           .range([margin.left, width - margin.right]);
                        const yScale = d3.scaleLinear()
                           .domain([-3.0, -1.2])
                           .range([height - margin.bottom, margin.top]);
                        const xAxis = g => g.attr('transform', `translate(0, ${height - margin.bottom})`)
                          .attr("class", "xAxis")
                          .call(d3.axisBottom(xScale));
                        const yAxis = g => g.attr('transform', `translate(${margin.left}, 0)`)
                          .attr("class", "yAxis")
                          .call(d3.axisLeft(yScale));

                        // point for line, use (-3, -3) and (-1, -1) as in domain/range
                        const regressionPoints = [
                            {x: -3.0, y: this.regrln(-3.0)},
                            {x: -1.2, y: this.regrln(-1.2)}
                        ];

                        const line = d3.line()
                            .x(d => xScale(d.x))
                            .y(d => yScale(d.y));

                        const renderChart = (target) => {
                            var div = d3.select("#tooltip");

                            // First, let's make the scatterplot
                            target.selectAll('circle')
                                  .data(data)
                                .enter().append('circle')
                                  .attr('r', 4)
                                  .attr('cx', d => xScale(d.x))
                                  .attr('cy', d => yScale(d.y))
                                  .on('mouseover', function (event, d) {
                                    d3.select(this).transition()
                                          //.duration('100')
                                          .attr("r", 7);

                                    div.html(`<table><tr><td>Ligand</td><td>${d.lig}</td><tr><td>E1/2</td><td>${d.e12}</td></tr><tr><td>sum_uel</td><td>${d.sum}</td></tr><tr><td>err</td><td>${d.err.toFixed(3)}</td></tr></table>`)
                                       .style("left", (event.pageX + 10) + "px")
                                       .style("top", (event.pageY - 15) + "px")
                                       .style("opacity", 1);
                                  })
                                  .on('mouseout', function (event, d) {
                                    d3.select(this).transition()
                                      //.duration('200')
                                      .attr("r", 4);
                                    div.transition()
                                      //.duration('200')
                                      .style("opacity", 0);
                                  });
                                  
                            // Next, we'll draw the regression line
                            target.append('path')
                                .classed('regressionLine', true)
                                .datum(regressionPoints)
                                .attr('d', line);
                                  
                            // Lastly, we add the axes!
                            target.append('g')
                                .call(xAxis);
                            target.append('g')
                                .call(yAxis);
                        };

                        const svg = d3.select('#plot')
                            .attr('width', width)
                            .attr('height', height);
                        
                        console.log(svg);
                        console.log(data);

                        renderChart(svg, data);
                        // return svg.node();
                      })
                      .catch(err => {
                        this.error = err;
                        console.log(err);
                      });
            });
        }
    }
});

app.mount('#app');
</script>
</body>

</html>